[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
fire = "*"
dbt-column-lineage-extractor = "==0.1.7b2"
notebook = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
